body::-webkit-scrollbar {
  width: 0.1px;
  background-color: #ffffff00;
}

body::-webkit-scrollbar-thumb {
  background-color: #fefefe00;

}

/*Nav Inicio*/
/*-----------------------------*/

.navbar {
  height: 80px;
  transition: all 300ms;
  position: fixed !important;
  width: 100%;
  z-index: 3;
  animation-name: bajar;
  animation-duration: 1s;
  animation-timing-function: linear;
  box-shadow: 1px 1px 10px 3px inset green;
}

.navbar li {
  margin-left: 30px;
}

.title {
  margin: 20px;
  width: 98%;
  border-bottom: 1px solid rgba(92, 92, 92, 0.634);
}

.title h1 { 
  padding-left: 5px;
  font-size: 30px;
  font-style: italic;
}

#icon {
  display: flex;
}

#icon h5 {
  margin-left: 5px;
}

.navbar-brand {
  margin-left: 25px;
  font-weight: 900;
  font-style: italic;
  color: green !important;
}

#descCont{
  text-align: center;
  margin-bottom: 400px;
  width: 50%;
  margin-top: 250px;
  margin-left: 22%;
}

#descCont h2{
  font-style: italic;
  font-weight: 700;
color: green;
}

#descCont p{
  font-size: 20px;
}

.encabezados {
  background-color: green;
  width: 320px;
  height: 50px;
  font-size: 35px;
  font-style: italic;
  border-radius: 20px;
  text-align: center;
  margin-left: 39%;
  box-shadow: 1px 0px 10px 3px rgb(91, 90, 90);

}

.dropdown-menu ul {
  width: 100% !important;
  padding: auto !important;
}

.dropdown-item {
  transition: all 300ms;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: all 300ms;
  transform: scale(1.1);
  margin-left: 5px !important;
}

.dropdown-menu {
  background-color: #212529 !important;
  box-shadow: 0px 0px 8px 3px inset green;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  color: rgb(205, 201, 201) !important;
}

.dropdown-menu li a:hover {
  color: green !important;
}

/*---Buscador---*/

.buttom_search {
  width: 300px !important;
}

#inputSearch {
  display: block;
  position: relative;
  top: -80px;
  transition: all 500ms;
}

#box-search {
  position: fixed;
  z-index: 4;
  background-color: rgba(44, 42, 42, 0.999);
  list-style: none;
  top: 70px;
  left: 82%;
  width: 205px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px inset green;
  padding: 10px;
  display: none;
}

#box-search a {
  text-decoration: none;
  color: rgb(205, 201, 201);
}

#cover {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 2;
  transition: all 100ms;
  margin-top: -250px;
}

.boton {
  margin-left: 20px;
}


/*---Nav animacion---*/

@keyframes bajar {
  from {
    transform: translatey(-100px);
    box-shadow: 1px 1px 10px 3px inset rgba(186, 17, 220, 0.763);
  }

  to {
    transform: translatey(0px);
    box-shadow: 1px 1px 10px 3px inset rgb(69, 206, 10);
  }

}


/*---Nav fin---*/

/*Articulos inicio*/
/*-----------------------------*/
.card {
  margin-top: 20px;
  margin-left: 36px !important;
  margin-bottom: 40px;
  transition: all 300ms;
}

.card:hover {
  transform: scale(1.1);
}

.card-text {
  margin-left: 20px;
}

.card:hover .card-text {
  color: green !important;
}

.card-text span {
  font-weight: 600;
}


.btnCards {
  width: 90%;

}


#tokyoGhoul {
  margin-bottom: 10px;
}

/*---Articulos fin---*/


#carouselExampleIndicators {
  margin-top: 90px;
  left: 160px;
  display: block;
  width: 80%;
  height: 90%;
  box-shadow: 1px 0px 10px 3px rgb(91, 90, 90);
  margin-bottom: 80px;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.nav2 {
  display: none;

}

.nav1:hover .nav2 {
  display: block;
}


.home {
  text-align: center;
}

.homeH1 {
  font-size: 15px !important;
  margin-top: -6px;
}

#anime{
  margin-top: 200px;
  background-color: aqua;
}

#flores{
  margin-bottom: 100px;
}

/*Responsive*/
/*-----------------------------*/

@media (max-width: 896px) {
  #carouselExampleIndicators {
    left: 12.5%;
    margin-bottom: 60px;
    width: 73%;
  }

  #box-search {
    top: 220px;
    left: auto;
    width: 327px;
    border-radius: 15px;
  }

}


@media (max-width: 991px) {

  .navbar {
    height: auto;

  }

  #inputSearch {
    position: static;
    top: 0px;
  }

  #box-search {
    top: 220px;
    left: auto;
    width: 327px;
    border-radius: 15px;
  }

  .card {
    width: 18rem;
  }
  #descCont{
    width: 83%;
    margin-left: 8%;
    margin-bottom: 200px;
    margin-top: 129px;
  }

  .encabezados {
    width: 273px;
    height: 44px;
    font-size: 30px;
    margin-left: 14%;
}
}